/* src/styles/HomePage.css */
@import 'themes.css';

@media screen and (max-width: 1920px) {
  html {
    font-size: 20px;
    max-width: 1920px;
  }
}

@media screen and (max-width: 1366px) {
  html {
    font-size: 18px;
    max-width: 1366px;
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 16px;
    max-width: 1280px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 14px; /* 屏幕宽度小于1200px时的字体大小 */
    max-width: 1200px;
  }
}

.home-page {
  display: flex;
  flex-direction: row;
}

/* src/styles/HomePage.css */
.main-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}