/* Markdown 内容的样式 */
.markdown-content {
    flex: 1;
    position: absolute;
    top: 70px;
    margin: 0 20px;
    background-color: #ffffff; /* 默认背景颜色 */
    background-size: cover;
    transition: background-color 0.3s, background-image 0.3s;
    max-width: 1835px;
    min-height: 100%;
    width: 90%;
    height: auto;
    padding-bottom: 10px;
    font-family: "Microsoft YaHei UI", serif;
}
.feature-area {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.markdown-content.collapsed {
    position: absolute;
    left: 3%;
    top: 70px;
    max-width: 1835px;
    min-height: 100%;
    width: 90%;
    height: auto;
}

/* 护眼模式背景 */
.markdown-content.eye-care-mode {
    background-color: #f0f8f0; /* 护眼模式背景颜色 */
    max-width: 1835px;
    min-height: 100%;
    width: 90%;
    height: auto;
}

/* 深色模式背景 */
.markdown-content.dark-mode {
    background-color: #000000; /* 深色模式背景颜色 */
    color: #ffffff; /* 深色模式文字颜色 */
    max-width: 1835px;
    min-height: 100%;
    width: 90%;
    height: auto;
}

/* 优先级：深色模式 > 护眼模式 */
.markdown-content.dark-mode.eye-care-mode {
    background-color: #000000; /* 仍然保持深色模式背景颜色 */
    color: #ffffff; /* 深色模式文字颜色 */
    max-width: 1835px;
    min-height: 100%;
    width: 90%;
    height: auto;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
}

/* 护眼模式切换按钮样式 */
.button-eye-care {
    margin: 0 5px; /* 上下外边距20px，左右外边距为0 */
    background-color: #007bff; /* 按钮背景色 */
    color: white;   /* 按钮文字颜色 */
    border: none;   /* 去掉按钮边框 */
    padding: 10px 20px; /* 按钮内边距 */
    border-radius: 4px; /* 按钮圆角 */
    cursor: pointer; /* 鼠标悬停时显示为手型 */
    transition: background-color 0.3s; /* 背景色过渡效果 */
}

.button-eye-care:hover {
    background-color: #0056b3; /* 鼠标悬停时的背景色 */
}

/* 样式用于代码块的容器，提供类似苹果菜单的外边框 */
.code-container {
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* 样式用于代码块上方的标题栏，模仿苹果菜单风格 */
.code-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1e1e1e; /* 改为深色以匹配代码背景色 */
    padding: 5px 15px; /* 标题栏高度更窄 */
    font-weight: bold;
    color: #ffffff;
    border-bottom: none; /* 去掉标题栏和代码之间的边框，以去掉间隔 */
}

/* 左上角的红、黄、绿三个圆点 */
.code-dots {
    margin-left: 1rem;
}
.code-dots span {
    margin: 0 0.1rem;
}

/* 复制按钮的样式 */
.copy-button {
    background-color: #007aff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.copy-button:hover {
    background-color: #005bb5;
}

/* 样式用于代码块的实际内容部分 */
.code-container > div {
    padding: 0; /* 去掉代码部分的上内边距，以去掉间隔 */
    background-color: #1e1e1e; /* 深色背景适合代码高亮 */
    color: #f8f8f2;
    font-size: 0.9em;
    overflow-x: auto;
}

/* 适应暗模式 */
.markdown-content.dark-mode .code-container > div {
    background-color: #282c34;
    color: #abb2bf;
}

.markdown-content.dark-mode .code-header {
    background-color: #282c34; /* 改为与代码背景一致，消除中间的白色间隔 */
    color: #ffffff;
}

.markdown-content.dark-mode .copy-button {
    background-color: #61dafb;
}

/* 样式用于去除 SyntaxHighlighter 组件中的 div 的默认 margin */
.code-header + div{
    margin: 0 !important; /* 强制去除 div 标签的默认外边距 */
    border-radius: 0 0 0.3em 0.3em !important; /* 上左、上右不加圆角，下左、下右添加 0.3em 的圆角 */
}

/* 针对小于768px宽度的设备（例如手机竖屏）的样式 */
@media (max-width: 768px) {
    .markdown-content {
        position: static; /* 移除绝对定位，使其适应移动设备 */
        left: 3%;
        top: 0;
        margin: 0 10px; /* 减少左右的外边距 */
        width: 0; /* 让内容宽度适应屏幕 */
        height: auto;
        padding-bottom: 10px;
    }

    /* 护眼模式、深色模式保持不变，但调整为移动设备的适应性 */
    .markdown-content.eye-care-mode,
    .markdown-content.dark-mode,
    .markdown-content.dark-mode.eye-care-mode {
        margin: 0 10px; /* 调整移动设备的左右边距 */
        width: 95%;
    }
    .markdown-content.collapsed {
        position: absolute;
        left: 0;
        min-height: 50%;
        width: 95%;
        height: auto;
    }

    /* 调整护眼模式切换按钮在移动设备上的样式 */
    .button-eye-care {
        margin: 10px 0; /* 上下外边距缩小一点 */
        padding: 8px 16px; /* 按钮的内边距变小，适应移动设备 */
        font-size: 14px; /* 缩小字体 */
    }

    /* 调整标题文字大小，让其在手机上更清晰 */
    h1 {
        font-size: 24px; /* 调整H1标题大小 */
    }

    h2 {
        font-size: 20px; /* 调整H2标题大小 */
    }

    h3 {
        font-size: 18px; /* 调整H3标题大小 */
    }

    img {
        max-width: 100%;
        height: auto;
    }
}
