.side-nav {
    width: 240px; /* Fixed width for consistency */
    background-color: #f4f4f4;
    padding: 20px 10px; /* More padding for elegance */
    position: fixed;
    top: 70px;
    left: 0;
    height: calc(100% - 70px); /* Full height minus top nav */
    overflow-y: auto;
    border-right: 1px solid #ddd; /* Subtle border */
    transition: background-color 0.3s ease; /* Smooth transition for dark mode */
}

.side-nav.dark-mode {
    background-color: #333;
    color: #fff;
    border-right: 1px solid #444;
}

.side-nav .nav-list,
.side-nav .sub-list {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-nav .nav-item {
    margin-bottom: 5px;
    display: block;
}

.folder-name,
.file-name {
    display: block; /* Ensures the items stack in a column */
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 0.9em;
    cursor: pointer;
    color: #333; /* Default text color */
    transition: background-color 0.3s, color 0.3s;
}

.side-nav.dark-mode .folder-name,
.side-nav.dark-mode .file-name {
    color: #f4f4f4; /* Light text color for dark mode */
}

.folder-name.expanded {
    font-weight: bold;
}

.folder-name:hover,
.file-name:hover {
    background-color: #e0e0e0;
    color: #007bff;
}

.side-nav.dark-mode .folder-name:hover,
.side-nav.dark-mode .file-name:hover {
    background-color: #555; /* Darker hover background */
    color: #fff; /* Light text color on hover */
}

.file-name.active {
    background-color: #007bff;
    color: #fff;
}

.side-nav .sub-list {
    padding-left: 15px; /* Indentation for nested items */
    margin-top: 5px;
    margin-bottom: 5px;
}

.file-name.active,
.folder-name.expanded {
    background-color: #ddd;
    font-weight: bold;
}

.side-nav.dark-mode .file-name.active,
.side-nav.dark-mode .folder-name.expanded {
    background-color: #007bff;
    color: #fff; /* Light text color for active items */
}